name: LMS Docker Deploy
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: clone the code
        uses: actions/checkout@v6.0.0
      - name: build backend images
        run: |
          cd api
          docker build -t ${{vars.DOCKER_USERNAME}}/api .
      - name: build frontend images
        run: |
          cd webapp
          docker build -t ${{vars.DOCKER_USERNAME}}/web .
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{vars.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - name: Push Images
        run: |
          docker push  ${{vars.DOCKER_USERNAME}}/api
          docker push  ${{vars.DOCKER_USERNAME}}/web
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: create network
        run: docker network create lmsnetwork
      - name: Run database
        run: docker container run -dt --name lmsdb -p 5432:5432 --network lmsnetwork -e POSTGRES_PASSWORD=admin123 postgres
      - name: Run Backend
        run: docker container run -dt --name api -p 3000:3000 --network lmsnetwork -e DATABASE_URL=postgresql://postgres:admin123@lmsdb:5432/postgres -e PORT=3000 -e MODE=local  ${{vars.DOCKER_USERNAME}}/api  
      - name: Run Frontend
        run: docker container run -dt --name web --network lmsnetwork -p 80:80 ${{vars.DOCKER_USERNAME}}/web
      
        
